<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pingpong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Pingpong.Properties.Settings>
            <setting name="Color_Player" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="Color_Enemy" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Color_Ball" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Color_Frame" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BallSpeed" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Timer_Movement" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Enemy" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnemySpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Speed_Player" serializeAs="String">
                <value>1</value>
            </setting>
        </Pingpong.Properties.Settings>
    </userSettings>
</configuration>